root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"


[build]
args_bin = []
entrypoint = "./bin/app"
cmd = "make build"
delay = 1000
exclude_dir = ["assets", "tmp", "vendor", "testdata", "node_modules"]
exclude_file = []
exclude_regex = ["_test.go"]
exclude_unchanged = false
follow_symlink = false
full_bin = ""
include_dir = []
include_ext = ["go", "tpl", "tmpl", "html", "css", "js", "env", "xml", "xsl"]
include_file = []
kill_delay = "5s"
log = "build-errors.log"
poll = true
poll_interval = 500
post_cmd = []
pre_cmd = []
rerun = false
rerun_delay = 500
send_interrupt = true
stop_on_error = false


[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"


[log]
main_only = false
time = false


[misc]
clean_on_exit = false


[screen]
clear_on_rebuild = false
keep_scroll = true
