# extensions
*.log
*.db
*.out


# directories
/.vscode/
/bin/
/tmp/
.venv/
certs/


# dotfiles
.env


# avatars
web/avatars/


# genai prompt
prompt.json


# tests
cover.out
cover.html
coverage.html
results.json