# General settings
DEBUG=
TARGET=
DATA_VOLUME=


# ======================================== #

# Sessions
CSRF_KEY=
AUTH_KEY=
ENCRYPTION_KEY=
USER_SESSION_NAME=
FLASH_SESSION_NAME=
CSRF_SESSION_NAME=
REDIRECT_SESSION_NAME=
OAUTH_SESSION_NAME=


# ======================================== #

# App settings
APP_NAME=
APP_DESCRIPTION=
DOMAIN=
GTAG_ID=
POSTS_PER_PAGE=
NUM_RELATED_POSTS=


# ======================================== #

# Google APIs settings
YOUTUBE_API_KEY=
GEMINI_API_KEY=
GEMINI_MODEL=


# ======================================== #

# Google OAuth settings
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_SCOPES=

# GitHub OAuth settings
GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
GITHUB_OAUTH_SCOPES=

# LinkedIn OAuth settings
LINKEDIN_OAUTH_CLIENT_ID=
LINKEDIN_OAUTH_CLIENT_SECRET=
LINKEDIN_OAUTH_SCOPES=


# ======================================== #

# Who is Admin?
ADMIN_PROVIDER_USER_ID=
ADMIN_PROVIDER=


# ======================================== #

# AWS APIs settings
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET_NAME=


# ======================================== #

# AdSense
ADSENSE_ACCOUNT=
AD_SLOT_SIDEBAR=


# ======================================== #

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
CACHE_TIMEOUT=


# ======================================== #

# Postgres
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=


# ======================================== #

# Local app host and port
# If running in docker the host should be 0.0.0.0
HOST=
PORT=


# ======================================== #

# Expose redis and db ports locally
EXPOSE_REDIS_PORT=
EXPOSE_POSTGRES_PORT=
