{{ define "extra_preload_css" }}
<link rel="preload" href='{{ .AddVersion "/static/css/post.css" }}' as="style">
{{ end }}

{{ define "extra_css" }}
<link rel="stylesheet" type="text/css" href='{{ .AddVersion "/static/css/post.css" }}'>
{{ end }}

{{ define "extra_meta" }}
<meta property='og:title' content='{{ .Title }}'>
<meta property='og:type' content='video.movie'>
<meta property='og:url' content='{{ .CanonicalURL }}'>
<meta property='og:image' content='{{ .CurrentPost.Thumbnail.Url  }}'>
<meta name='thumbnail' content='{{ .CurrentPost.Thumbnail.Url  }}'>

<meta name="twitter:title" content="{{ .Title }}">
<meta property="twitter:url" content="{{ .CanonicalURL }}">
<meta name="twitter:image" content="{{ .CurrentPost.Thumbnail.Url  }}">

{{ if .CurrentPost.MetaDesc }}
<meta name='description' content='{{ .CurrentPost.MetaDesc }}.'>
<meta property='og:description' content='{{ .CurrentPost.MetaDesc }}.'>
<meta name="twitter:description" content="{{ .CurrentPost.MetaDesc }}">
{{ end }}
{{ end }}

{{ define "title_tag" }}
{{ .Title }} - {{ .Config.AppName }}
{{ end }}

{{ define "content" }}
<article class="media-content" itemscope itemtype="https://schema.org/Movie">
	<meta itemprop="image" content="{{ .CurrentPost.Thumbnail.Url  }}">
	<meta itemprop="genre" content="Documentary">
	<div class="video-content">
		<div class="player" itemprop="video" itemscope itemtype="https://schema.org/VideoObject">
			<meta itemprop="name" content="{{ .CurrentPost.Title }}">
			<meta itemprop="thumbnailUrl" content="{{ .CurrentPost.Thumbnail.Url  }}">
			<meta itemprop="embedUrl" content="https://www.youtube-nocookie.com/embed/{{ .CurrentPost.VideoID }}">
			{{ if .CurrentPost.MetaDesc }}
			<meta itemprop="description" content="{{ .CurrentPost.MetaDesc }}.">
			{{ end }}
			<meta itemprop="uploadDate" content='{{ .CurrentPost.UploadDate.Format "2006-01-02T15:04:05Z07:00" }}'>
			<div class="player-content" id="{{ .CurrentPost.VideoID }}">
				<img alt="{{ .CurrentPost.Title }}" src="{{ .CurrentPost.Thumbnail.Url  }}"
					srcset="{{ .CurrentPost.Srcset }}">
				<div class="play"></div>
			</div>
		</div>

		<header class="metadata">
			<div class="metadata-block">
				<h1 class="video-title" itemprop="name">{{ .CurrentPost.Title }}</h1>
				<div class="social">
					{{ if .CurrentUser.IsAuthenticated }}
					{{ if .CurrentPost.CurrentUserLiked }}
					<button class="like like-yes">
						<span data-liked>&#10003;</span>
						<span data-likes>{{ .CurrentPost.LikeButtonText }}</span>
					</button>
					{{ else }}
					<button class="like like-no">
						<span data-likes>{{ .CurrentPost.LikeButtonText }}</span>
					</button>
					{{ end }}
					{{ else }}
					<button data-auth class="like like-no">
						<span>{{ .CurrentPost.LikeButtonText }}</span>
					</button>
					{{ end }}

					{{ if .CurrentUser.IsAuthenticated }}
					{{ if .CurrentPost.CurrentUserFaved }}
					<button data-status class="fave fave-yes">&#10003; Saved</button>
					{{ else }}
					<button data-status class="fave fave-no">Save</button>
					{{ end }}
					{{ else }}
					<button data-auth class="fave fave-no">Save</button>
					{{ end }}
				</div>
			</div>
			<div class="other-metadata">
				<div class="metadata-block">
					<div class="inner-metadata-block">
						Duration: <time itemprop="duration" datetime="{{ .CurrentPost.Duration.ISO }}">
							{{ .CurrentPost.Duration.Human }}
						</time>
						{{ if .CurrentPost.Category.Slug }}
						| Category: <a class="nav-item" href="/category/{{ .CurrentPost.Category.Slug }}/">
							{{ .CurrentPost.Category.Name }}</a>
						{{ end }}
					</div>
					{{ if .IsCurrentUserAdmin }}
					<button data-modal="video" class="modal-button">Delete</button>
					<button class="modal-button edit-title">Edit Title</button>
					{{ end }}
				</div>
			</div>
		</header>

		{{ if .CurrentPost.ShortDesc }}

		<div class="short_desc_wrap">
			<div class="video-description" itemprop="description">
				{{ .CurrentPost.ShortDesc }}
			</div>
			<!-- <span class="description_discliamer">
					Disclaimer: This summary may have been generated by an AI.
				</span> -->
		</div>

		{{ if .IsCurrentUserAdmin }}
		<button class="modal-button edit-description">Edit Desc</button>
		{{ end }}

		{{ else if .IsCurrentUserAdmin }}
		<div class="unpublished">
			<p>UNPUBLISHED DESCRIPTION:</p>
			<div class="video-description">
				{{ .CurrentPost.Description }}
			</div>
		</div>
		<button class="modal-button edit-description">Edit Desc</button>

		{{ end }}

	</div>

	<div class="sidebar_wrap">
		<div class="related_videos">
			{{ range .CurrentPost.RelatedPosts }}
			<a href="/video/{{ .VideoID }}/" class="related-video">
				<img class="related-img" src="{{ .Thumbnail.Url  }}" width="{{ .Thumbnail.Width }}"
					height="{{ .Thumbnail.Height }}" alt="{{ .Title }}">
				<h2 class="related-post-title">
					{{ .Title }}
				</h2>
			</a>
			{{ end }}
		</div>

		{{ if and (not .CurrentUser.IsAuthenticated) .Config.AdSenseAccount .Config.AdSlotSidebar }}
		<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-{{ .Config.AdSenseAccount }}"
			data-ad-slot="{{ .Config.AdSlotSidebar }}" data-ad-format="auto" data-full-width-responsive="true"></ins>
		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
		{{ end }}
	</div>
</article>

{{ if .IsCurrentUserAdmin }}
<div data-body="video" class="modal">
	<form class="modal-content" action="/video/{{ .CurrentPost.VideoID }}/delete" method="POST">
		{{ .CSRFField }}
		<span data-close="video" class="close-modal" title="Close">&times;</span>
		<h2>Delete Video</h2>
		<p>Are you sure you want to delete this video?</p>
		<div class="modal-buttons-wrap">
			<button data-close="video" type="button" class="modal-button cancel-button">Cancel</button>
			<button type="submit" class="modal-button delete-button">Delete</button>
		</div>
	</form>
</div>
{{ end }}
{{ end }}

{{ define "extra_scripts" }}
{{ if .CurrentUser.IsAuthenticated }}
<script defer src='{{ .AddVersion "/static/js/likes.js" }}'></script>
{{ if .IsCurrentUserAdmin }}
<script defer src='{{ .AddVersion "/static/js/title.js" }}'></script>
<script defer src='{{ .AddVersion "/static/js/description.js" }}'></script>
{{ end }}
{{ else }}
<script defer src='{{ .AddVersion "/static/js/login.js" }}'></script>
{{ end }}
<script defer src='{{ .AddVersion "/static/js/play.js" }}'></script>
{{ end }}