{{ template "base.html" . }}

{{ define "extra_preload_css" }}
<link rel="preload" href='{{ .AddVersion "/static/css/post.css" }}' as="style">
{{ end }}

{{ define "extra_css" }}
<link rel="stylesheet" type="text/css" href='{{ .AddVersion "/static/css/post.css" }}'>
{{ end }}

{{ define "extra_meta" }}
<meta property='og:title' content='{{ .CurrentPost.GetTitle }}'>
<meta property='og:type' content='video.movie'>
<meta property='og:url' content='{{ .CanonicalURL }}'>
<meta property='og:image' content='{{ .CurrentPost.Thumbnail.Url  }}'>
<meta name='thumbnail' content='{{ .CurrentPost.Thumbnail.Url  }}'>

<meta name="twitter:title" content="{{ .CurrentPost.GetTitle }}">
<meta property="twitter:url" content="{{ .CanonicalURL }}">
<meta name="twitter:image" content="{{ .CurrentPost.Thumbnail.Url  }}">

{{ with .CurrentPost.MetaDescription }}
<meta name='description' content='{{ . }}.'>
<meta property='og:description' content='{{ . }}.'>
<meta name="twitter:description" content="{{ . }}">
{{ end }}
{{ end }}

{{ define "title_tag" }}
{{ .CurrentPost.GetTitle }} - {{ .Config.AppName }}
{{ end }}

{{ define "content" }}
<article class="media-content" itemscope itemtype="https://schema.org/Movie">
	<meta itemprop="image" content="{{ .CurrentPost.Thumbnail.Url  }}">
	{{ with .Config.AppGenre }}
	<meta itemprop="genre" content="{{ . }}">
	{{ end }}
	<div class="video-content">
		<div class="player" itemprop="video" itemscope itemtype="https://schema.org/VideoObject">
			<!-- The actual video title for the video object schema -->
			<meta itemprop="name" content="{{ .CurrentPost.Title }}">
			<meta itemprop="thumbnailUrl" content="{{ .CurrentPost.Thumbnail.Url  }}">
			<meta itemprop="embedUrl" content="https://www.youtube-nocookie.com/embed/{{ .CurrentPost.VideoID }}">
			{{ with .CurrentPost.MetaDescription }}
			<meta itemprop="description" content="{{ . }}.">
			{{ end }}
			<meta itemprop="uploadDate" content='{{ .CurrentPost.UploadDate.Format "2006-01-02T15:04:05Z07:00" }}'>
			<div class="player-content" id="{{ .CurrentPost.VideoID }}">
				<img alt="{{ .CurrentPost.GetTitle }}" src="{{ .CurrentPost.Thumbnail.Url  }}"
					srcset="{{ .CurrentPost.Srcset }}">
				<svg role="img" aria-label="Play" xmlns="http://www.w3.org/2000/svg" class="play-icon"
					viewBox="0 0 24 24">
					<circle cx="12" cy="12" r="12" fill="black" opacity="0.7" />
					<path
						d="M10.803 15.932l4.688-3.513a.498.498 0 0 0 0-.803l-4.688-3.514a.502.502 0 0 0-.803.402v7.026c0 .412.472.653.803.402z">
					</path>
					<path
						d="M12 24C5.373 24 0 18.627 0 12S5.373 0 12 0s12 5.373 12 12-5.373 12-12 12zm0-1c6.075 0 11-4.925 11-11S18.075 1 12 1 1 5.925 1 12s4.925 11 11 11z">
					</path>
				</svg>
			</div>
		</div>

		{{ $actions := .CurrentPost.UserActions }}

		<header class="metadata">

			<div class="metadata-block">
				<h1 class="video-title" itemprop="name">{{ .CurrentPost.GetTitle }}</h1>
				<div class="ui-inner-metadata-block">
					<div class="social">
						{{ if .CurrentUser.IsAuthenticated }}
						{{ if and $actions $actions.Liked }}
						<button class="like like-yes">
							<span data-liked>&#10003;</span>
							<span data-likes>{{ .CurrentPost.LikeButtonText }}</span>
						</button>
						{{ else }}
						<button class="like like-no">
							<span data-likes>{{ .CurrentPost.LikeButtonText }}</span>
						</button>
						{{ end }}
						{{ else }}
						<button data-modal="login" class="like like-no">
							<span>{{ .CurrentPost.LikeButtonText }}</span>
						</button>
						{{ end }}

						{{ if .CurrentUser.IsAuthenticated }}
						{{ if and $actions $actions.Faved }}
						<button class="fave fave-yes">
							<span data-saved>&#10003;</span>
							<span data-saves>Saved</span>
						</button>
						{{ else }}
						<button class="fave fave-no">
							<span data-saves>Save</span>
						</button>
						{{ end }}
						{{ else }}
						<button data-modal="login" class="fave fave-no">
							<span data-saves>Save</span>
						</button>
						{{ end }}

					</div>
				</div>
			</div>

			<div class="metadata-block">

				<div class="inner-metadata-block">
					<span>
						<strong>Duration:</strong>
						<time itemprop="duration" datetime="{{ .CurrentPost.Duration }}">
							{{ .CurrentPost.Duration.Human }}
						</time>
					</span>
					{{ with .CurrentPost.Category }}
					<span>
						<strong>Category:</strong>
						<a class="nav-item" href="/category/{{ .Slug }}/">{{ .Name }}</a>
					</span>
					{{ end }}
					{{ with .CurrentPost.Source }}
					<span>
						<strong>Source:</strong>
						<a class="nav-item" href="/source/{{ .PlaylistID }}/">{{ .ChannelTitle }}</a>
					</span>
					{{ end }}
				</div>

				<!-- Rating Widget -->
				<section class="rating-section">

					<!-- Avg Rating Box -->
					{{ with .CurrentPost.Rating }}
					<div class="btn-open-post-dialog avg-rating-display">
						<span class="rating-global-star">&#9733;</span>
						<div class="rating-meta" itemprop="aggregateRating" itemscope
							itemtype="https://schema.org/AggregateRating">
							<meta itemprop="worstRating" content="1">
							<div class="rating-score">
								<span class="rating-avg-val" itemprop="ratingValue">
									{{ .Avg }}
								</span> / <span itemprop="bestRating">10</span>
							</div>
							{{ $votesText := "votes" }}
							{{ if eq .Count 1 }}
							{{ $votesText = "vote" }}
							{{ end }}
							<div class="rating-count">
								<span class="rating-count-val" itemprop="ratingCount">
									{{ .Count }}
								</span> {{ $votesText }}
							</div>
						</div>
					</div>
					{{ end }}

					<!-- $rating needs to be lowercase var 
					 	 because the minifier will lower it 
						 if placed in HTML tags such as <input>. -->
					{{ $rating := 0 }}
					{{ if and $actions $actions.Rating }}
					{{ $rating = $actions.Rating }}
					{{ end }}


					<!-- User Rating Button -->
					<!-- beautify ignore:start -->
					{{ if .CurrentUser.IsAuthenticated }}
					<button type="button" id="btn-open-rate" class="btn-open-post-dialog" aria-haspopup="dialog">
					{{ else }}
					<button data-modal="login" type="button" id="btn-open-rate" class="btn-open-post-dialog">
					{{ end }}
						{{ if $rating }}
						<span class="rating-user-star">&#9733;</span>
						<span>{{ $rating }}</span>
						{{ else }}
						<span class="rating-user-star">&#9734;</span>
						<span>Rate</span>
						{{ end }}
					</button>
					<!-- beautify ignore:end -->

					<!-- Rating Dialog -->
					{{ if .CurrentUser.IsAuthenticated }}
					<dialog id="rate-dialog" class="modal post-dialog" closedby="any">
						<form class="rate-form" action="/api/video/{{ .CurrentPost.VideoID }}/rate" method="POST">
							{{ .CSRFField }}
							<div class="rating-big-star-wrapper">
								<svg>
									<use href="#big-hearth" />
								</svg>
								<span class="big-star-value rating-big-star-value">
									{{ if eq $rating 0 }}?{{ else }}{{ $rating }}{{ end }}
								</span>
							</div>

							<button type="button" id="btn-close-rate" class="btn-close-post-dialog">&times;</button>
							<header class="rating-header">
								<h3 class="rate-subtitle">RATE THIS</h3>
								<h2 class="rate-title">{{ .CurrentPost.GetTitle }}</h2>
							</header>

							<fieldset class="rate-stars">
								<legend class="visually-hidden">Rating</legend>
								{{ range .CurrentPost.Stars }}
								<label>
									<input {{if eq $rating .}}checked{{end}} type="radio" name="rating" value="{{.}}"
										aria-label="{{.}} stars" required>
									<span>★</span>
								</label>
								{{ end }}
							</fieldset>

							<button type="submit" class="btn-submit-rate">Rate</button>
						</form>
					</dialog>
					{{ end }}

				</section>
			</div>
		</header>

		{{ if .CurrentPost.HTMLSummary }}

		<div class="summary_wrap">
			<div class="video-description" itemprop="description">
				{{ .CurrentPost.HTMLSummary }}
			</div>
			<!-- <span class="description_discliamer" data-nosnippet>
				This content was generated by an AI.
			</span> -->
		</div>

		{{ else if .CurrentUser.IsAdmin }}
		<div class="unpublished">
			<p>UNPUBLISHED DESCRIPTION:</p>
			<div class="video-description">
				{{ .CurrentPost.Description }}
			</div>
		</div>
		{{ end }}

		{{ if .CurrentUser.IsAdmin }}
		<span class="admin-buttons">
			<button data-modal="video" class="modal-button">Delete</button>
			<a href="/video/{{ .CurrentPost.VideoID }}/edit" class="modal-button edit-content">Edit</a>
		</span>
		{{ end }}

		<!-- Review Widget -->
		<section class="review-section">

			<!-- Review Dialog -->
			{{ if .CurrentUser.IsAuthenticated }}
			<dialog id="review-dialog" class="modal post-dialog" closedby="any">
				<form class="review-form" action="/api/video/{{ .CurrentPost.VideoID }}/review" method="POST">
					{{ .CSRFField }}

					<button type="button" id="btn-close-review" class="btn-close-post-dialog">&times;</button>

					{{ $headline := "" }}
					{{ $body := "" }}
					{{ if and $actions $actions.Review }}
					{{ $headline = $actions.Review.Headline }}
					{{ $body = $actions.Review.Content }}
					{{ end }}

					<div class="review-form-group">
						<label class="review-form-heading" for="review-title">Headline</label>
						<input id="review-title" name="headline" value="{{ $headline }}"
							placeholder="Write a catchy headline..." type="text" required>
					</div>

					<div class="review-form-group">
						<label class="review-form-heading" for="review-text">Review</label>
						<textarea id="review-text" name="content" placeholder="Write your review..." rows="4"
							type="text" required>{{ $body }}</textarea>
					</div>

					<fieldset class="review-form-group">
						<legend class="visually-hidden">Rating</legend>
						<div class="review-form-heading">Rating</div>

						<div class="review-stars-group">
							<div class="rate-stars rate-stars-review">
								{{ range .CurrentPost.Stars }}
								<label>
									<input {{if eq $rating .}}checked{{end}} type="radio" name="rating" value="{{.}}"
										aria-label="{{.}} stars" required>
									<span>★</span>
								</label>
								{{ end }}
							</div>
							<div class="review-big-star-wrapper">
								<svg>
									<use href="#big-hearth" />
								</svg>
								<span class="rating-big-star-value review-big-star-value">
									{{ if eq $rating 0 }}?{{ else }}{{ $rating }}{{ end }}
								</span>
							</div>
						</div>
					</fieldset>

					<div class="review-form-footer">
						<span id="review-error" class="review-form-error" hidden></span>
						<button type="submit" id="submit-review" class="btn-submit-review">Post Review</button>
					</div>
				</form>
			</dialog>
			{{ end }}

			<!-- Reviews List Header -->
			<header class="reviews-header">
				<h3>User Reviews</h3>

				<!-- User Review Button -->
				<!-- beautify ignore:start -->
				{{ if .CurrentUser.IsAuthenticated }}
				<button type="button" id="btn-open-review" class="btn-open-post-dialog" aria-haspopup="dialog">
				{{ else }}
				<button data-modal="login" type="button" id="btn-open-review" class="btn-open-post-dialog">
				{{ end }}
					<span class="open-review-symbol">+</span>
					<span>Review</span>
				</button>
				<!-- beautify ignore:end -->
			</header>

			<!-- Reviews List -->
			<div id="reviews-list">
				<div class="review-card">
					<div class="review-header">
						<h4>Sarah J. <span class="date-meta">Jun 1, 2026</span></h4>
						<span class="stars-display">★★★★★</span>
					</div>
					<p class="review-content">Absolutely phenomenal update. Appears instantly on load.</p>
				</div>

				<div class="review-card">
					<div class="review-header">
						<h4>Marcus T. <span class="date-meta">May 20, 2026</span></h4>
						<span class="stars-display">★★★★☆</span>
					</div>
					<p class="review-content">Solid implementation, taking off one star for missing color themes.</p>
				</div>
			</div>
		</section>

	</div>

	<div class="sidebar_wrap">
		<div class="related_videos">
			{{ range .CurrentPost.RelatedPosts }}
			<a href="/video/{{ .VideoID }}/" class="related-video">
				<img class="related-img" src="{{ .Thumbnail.Url  }}" width="{{ .Thumbnail.Width }}"
					height="{{ .Thumbnail.Height }}" alt="{{ .GetTitle }}">
				<h2 class="related-post-title">
					{{ .GetTitle }}
				</h2>
			</a>
			{{ end }}
		</div>

		{{ if and (not .CurrentUser.IsAuthenticated) .Config.AdSenseAccount .Config.AdSlotSidebar }}
		<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-{{ .Config.AdSenseAccount }}"
			data-ad-slot="{{ .Config.AdSlotSidebar }}" data-ad-format="auto" data-full-width-responsive="true"></ins>
		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
		{{ end }}
	</div>
</article>

{{ if .CurrentUser.IsAdmin }}
<dialog data-body="video" class="modal" closedby="any">
	<form class="modal-content" action="/video/{{ .CurrentPost.VideoID }}/delete" method="POST">
		{{ .CSRFField }}
		<span data-close="video" class="close-modal" title="Close">&times;</span>
		<h2>Delete Video</h2>
		<p>Are you sure you want to delete this video?</p>
		<div class="modal-buttons-wrap">
			<button data-close="video" type="button" class="modal-button cancel-button">Cancel</button>
			<button type="submit" class="modal-button delete-button">Delete</button>
		</div>
	</form>
</dialog>
{{ end }}


<!-- Define the big star svg -->
<svg style="display: none;">
	<symbol id="big-hearth" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
		<path
			d="M309.5-18.9c-4.1-8-12.4-13.1-21.4-13.1s-17.3 5.1-21.4 13.1L193.1 125.3 33.2 150.7c-8.9 1.4-16.3 7.7-19.1 16.3s-.5 18 5.8 24.4l114.4 114.5-25.2 159.9c-1.4 8.9 2.3 17.9 9.6 23.2s16.9 6.1 25 2L288.1 417.6 432.4 491c8 4.1 17.7 3.3 25-2s11-14.2 9.6-23.2L441.7 305.9 556.1 191.4c6.4-6.4 8.6-15.8 5.8-24.4s-10.1-14.9-19.1-16.3L383 125.3 309.5-18.9z" />
	</symbol>
</svg>

{{ end }} <!-- content end -->

{{ define "extra_scripts" }}
{{ if .CurrentUser.IsAuthenticated }}
<script defer src='{{ .AddVersion "/static/js/likes.js" }}'></script>
<script defer src='{{ .AddVersion "/static/js/rating.js" }}'></script>
{{ end }}
<script defer src='{{ .AddVersion "/static/js/play.js" }}'></script>
{{ end }}