{{ define "extra_preload_css" }}
<link rel="preload" href='{{ .AddVersion "/static/css/content.css" }}' as="style">
{{ end }}

{{ define "extra_css" }}
<link rel="stylesheet" type="text/css" href='{{ .AddVersion "/static/css/content.css" }}'>
{{ end }}

{{ define "extra_meta" }}
{{ $canonicalURL := .CurrentURLPath }}
<link rel="canonical" href="{{ $canonicalURL }}" />
<meta property='og:title' content='{{ .Title }}'>
<meta property='og:type' content='article'>
<meta property='og:url' content='{{ $canonicalURL }}'>
{{ end }}

{{ define "title_tag" }}
{{ .Title }} - {{ .Config.AppName }}
{{ end }}

{{ define "content" }}
<h1 class="content-title">
    {{ if .Posts.TotalNum }}
    <strong>{{ .Posts.TotalNum }}</strong> results <small>({{ .Posts.TimeTook }} seconds)</small>
    {{ else }}
    Sorry, no matching results for this query.
    {{ end }}
</h1>
{{ template "content.html" . }}
{{ end }}

{{ define "extra_scripts" }}
{{ if and .Posts.TotalNum (gt .Posts.TotalNum .Config.PostsPerPage) }}
<script defer src='{{ .AddVersion "/static/js/scroll.js" }}'></script>
{{ end }}
{{ end }}