<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{ $app_name_words := .Split .Config.AppName " " }}

	{{ block "preload_css" . }}
	<link rel="preload" href='{{ .AddVersion "/static/css/shared.css" }}' as="style">
	{{ end }}

	{{ block "extra_preload_css" . }}{{ end }}

	{{ block "css" . }}
	<link rel="stylesheet" type="text/css" href='{{ .AddVersion "/static/css/shared.css" }}'>
	{{ end }}

	{{ block "extra_css" . }}{{ end }}

	<link rel="apple-touch-icon" sizes="180x180" href='{{ .AddVersion "/static/favicons/apple-touch-icon.png" }}'>
	<link rel="icon" type="image/png" sizes="32x32" href='{{ .AddVersion "/static/favicons/favicon-32x32.png" }}'>
	<link rel="icon" type="image/png" sizes="16x16" href='{{ .AddVersion "/static/favicons/favicon-16x16.png" }}'>
	<link rel="manifest" href='{{ .AddVersion "/static/favicons/site.webmanifest" }}'>

	{{ block "meta" . }}
	<link rel="canonical" href="{{ .CanonicalURL }}" />
	<meta property='og:site_name' content='{{ .Config.AppName }}'>
	<meta name='twitter:card' content='summary_large_image'>
	<meta property="twitter:domain" content="{{ .Config.Domain }}">
	{{ end }}

	{{ block "extra_meta" . }}{{ end }}

	<title>
		{{ block "title_tag" . }}
		{{ .Config.AppName }}
		{{ end }}
	</title>

	{{ if not .Config.Debug }}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Config.GtagID }}"></script>
	{{ if and .CurrentUser .CurrentUser.AnalyticsID }}
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', '{{ .Config.GtagID }}', { 'user_id': '{{ .CurrentUser.AnalyticsID }}' });
	</script>
	{{ else }}
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', '{{ .Config.GtagID }}');
	</script>
	{{ end }}
	{{ end }}

	{{ if and (not .CurrentUser.IsAuthenticated) .Config.AdSenseAccount }}
	<script async
		src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-{{ .Config.AdSenseAccount }}"
		crossorigin="anonymous"></script>
	{{ end }}

</head>

<body>
	<div class="site-header-wrap">
		<header class="site-header">

			<div class="categories-dropdown">
				<svg role="button" aria-label="Drop Categories Menu" class="hamburger-icon"
					xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<line x1="3" y1="6" x2="21" y2="6"></line>
					<line x1="3" y1="12" x2="21" y2="12"></line>
					<line x1="3" y1="18" x2="21" y2="18"></line>
				</svg>
				<ul class="categories-dropdown-content">
					<div class="categories-dropdown-stripes">
						<h3>Categories</h3>
						<svg role="button" aria-label="Close Categories Menu" class="categories-close-icon"
							xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<line x1="18" y1="6" x2="6" y2="18"></line>
							<line x1="6" y1="6" x2="18" y2="18"></line>
						</svg>
					</div>
					{{ range .Categories }}
					<li>
						<a class="nav-item" href="/category/{{ .Slug }}/">
							{{ .Name }}
						</a>
					</li>
					{{ end }}
				</ul>
			</div>

			{{ if .Title }}
			<a class="logo" href="/">
				<span>{{ index $app_name_words 0 }}</span>
				<span>{{ index $app_name_words 1 }}</span>
			</a>
			{{ else }}
			<h1>
				<a class="logo" href="/">
					<span>{{ index $app_name_words 0 }}</span>
					<span>{{ index $app_name_words 1 }}</span>
				</a>
			</h1>
			{{ end }}

			<nav class="navbar">
				<form id="searchForm" class="search-form" method="get" action="/search/">
					<button type="button" aria-label="Collapse Search Field" class="search-arrow">
						<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
							clip-rule="evenodd">
							<path fill="white"
								d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z" />
						</svg>
					</button>
					<input id="q" name="q" size="20" value="{{ .SearchQuery }}" class="search-form-input"
						placeholder="Search" required type="search">
					<button aria-label=" Search" class="search-button">
						<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
							clip-rule="evenodd">
							<path fill="white"
								d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z" />
						</svg>
					</button>
				</form>
				<button aria-label="Show Search Field" class="search-button-mobile">
					<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
						<path fill="white"
							d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z" />
					</svg>
				</button>

				{{ if .CurrentUser.IsAuthenticated }}
				<div class="dropdown">
					<button aria-label="Drop User Menu" class="nav-item username">
						<img src='{{ .AddVersion .CurrentUser.LocalAvatarURL }}' class="username-image" width="20"
							height="20" alt="">
						<span class="username-text">{{ .CurrentUser.Name }}</span>
					</button>
					<div class="dropdown-content">
						{{ if .IsCurrentUserAdmin }}
						<a class="nav-item" href="/video/new">New Video</a>
						<a class="nav-item" href="/source/new">New Source</a>
						<a class="nav-item" href="/page/new">New Page</a>
						<a class="nav-item" href="/users/">Dashboard</a>
						{{ end }}
						<a class="nav-item" href="/user/favorites/">Watch Later</a>
						<a class="nav-item" href="/logout/{{ .CurrentUser.Provider }}?redirect={{ .CurrentURI }}">Log
							out</a>
						<a data-modal="account" class="nav-item delete-account" href="javascript:void(0)">
							Delete Account
						</a>
					</div>
				</div>

				<div data-body="account" class="modal">
					<form class="modal-content" action="/account/delete" method="POST">
						{{ .CSRFField }}
						<span data-close="account" class="close-modal" title="Close">&times;</span>
						<h2 class="modal-title">Delete Account</h2>
						<p>Are you sure you want to delete your account?<br>
							This will delete your data including your likes and favorites.
						</p>
						<div class="modal-buttons-wrap">
							<button aria-label="Cancel Delete Account" data-close="account" type="button"
								class="modal-button cancel-button">Cancel</button>
							<button aria-label="Delete Account" type="submit"
								class="modal-button delete-button">Delete</button>
						</div>
					</form>
				</div>

				{{ else }}

				<div class="login-wrap">
					<a class="nav-item" data-modal="login" href="javascript:void(0)">Login</a>
					<div class="need-login">Please login</div>
				</div>

				<div data-body="login" class="modal">
					<div class="modal-content login-modal-content">
						<h3 class="login-text">Sign in to</h3>
						<div class="logo-text">{{ .Config.AppName }}</div>
						<p>
							Log in to be able to <strong>save</strong> and <strong>like</strong> your favorite
							documentaries.
						</p>
						<div class="login-buttons">
							<a aria-label="Login via Google" data-close="login" class="brand-login-button google-login"
								href="/auth/google?redirect={{ .CurrentURI }}">
								<div class="brand-logo google-logo">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 533.5 544.3"
										class="google-svg">
										<path
											d="M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z"
											fill="#4285f4"></path>
										<path
											d="M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z"
											fill="#34a853"></path>
										<path
											d="M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z"
											fill="#fbbc04"></path>
										<path
											d="M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z"
											fill="#ea4335"></path>
									</svg>
								</div>
								<div class="brand-text">Sign In with Google</div>
							</a>
						</div>
					</div>
				</div>
				{{ end }}
			</nav>
		</header>
	</div>

	<main role="main" class="content-wrap">
		{{ block "content" . }}{{ end }}
	</main>

	<div id="footer" class="site-footer-wrap">
		{{ if .FlashMessages }}
		{{ range .FlashMessages }}
		<div class="alert alert-{{ .Category }}">
			{{ .Message }}
		</div>
		{{ end }}
		{{ end }}

		<footer class="site-footer">
			<span class="site-copy">{{ .Config.AppName }} &copy; {{ .Now.Year }}</span>
			<a class="nav-item" href="/sources/">Sources</a>
			<a class="nav-item" href="/page/about/">About</a>
			<a class="nav-item" href="/page/privacy/">Privacy</a>
		</footer>
	</div>

	{{ block "scripts" . }}
	<script defer src='{{ .AddVersion "/static/js/shared.js" }}'></script>
	{{ end }}

	{{ block "extra_scripts" . }}{{ end }}
</body>

</html>