name: Video Store CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Source
      uses: actions/checkout@v6
    
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.1'
    
    - name: Clean Test Cache
      run: go clean -testcache
    
    - name: Run Tests
      env:
          DB_DATABASE: ${{ secrets.DB_DATABASE }}
          DB_USERNAME: ${{ secrets.DB_USERNAME }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
      run: go test -race -coverprofile=coverage.out ./...
    
    - name: Display Coverage
      run: go tool cover -func=coverage.out

    - name: Generate Coverage HTML
      run: go tool cover -html=coverage.out -o coverage.html

    - name: Upload Coverage Report
      uses: actions/upload-artifact@v6
      with:
        name: coverage-report
        path: coverage.html
  
  sast:
    runs-on: ubuntu-latest
    
    env:
      GO111MODULE: on

    steps:
      - name: Checkout Source
        uses: actions/checkout@v6

      - name: Run Gosec Security Scanner
        uses: securego/gosec@v2.22.11
        with:
          args: ./...
  
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      app: ${{ steps.filter.outputs.app }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      
      - name: Check for relevant file changes
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            app:
              - '.github/**'
              - 'cmd/**'
              - 'internal/**'
              - 'web/**'
              - 'compose.yaml'
              - 'Dockerfile'
              - 'go.mod'
              - 'go.sum'
  
  build-and-push:
    needs: [tests, sast, check-changes]
    # Deploy only if relevant files changed
    if: needs.check-changes.outputs.app == 'true'
    runs-on: ubuntu-latest

    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
   
    permissions:
      contents: read
      packages: write
    
    strategy:
      matrix:
        target: [app, worker, backup]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: TARGET=${{ matrix.target }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-${{ matrix.target }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.VPS_HOST }}
          port: ${{ secrets.VPS_PORT }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/proxy
            docker compose up --detach --pull always --scale video-store-app=2
